body {
    background-color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: inline;
}